// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.student-show-page {
  padding-top: 20px;
}
.container {
  width: 100%;

  // text-align: center;
}

#search-form {
  width: 92%;
  display: inline;
  margin: 0 !important;
}


.name {
  text-align: center;
}
