<div class='container-fluid' id='about'><a name='about'>

    <h1 class='about-header'>About <span class='red-text'>Van Houston</span><br> <span class='blue-text'>Academy</span></h1>

      <div class = 'row'>

              <div class='col-md-6 about-body'>
                  <h2 class='red-text'> Our Story </h2>
                  <p>Raised in a family whose primary focus has always been education, Hoang Vy Van and his siblings open <span class='blue-text'>Van Houston Academy</span>. With genuine passion and a strong foundation from <span class='red-text'>Stanford University</span>, <span class='blue-text'>Van Houston Academy</span> strives to bring our children to their fullest potential, strengthening the brightest minds for a brighter tomorrow.</p>


              </div>

          <div class='col-md-6 about-body'>
                  <h2 class='red-text'> Our Mission </h2>
                  <p>Dedicated, experienced, and wholeheartedly caring, our team focuses on creating an inviting atmosphere that fosters and instills the love of learning in our students. At <span class='blue-text'>Van Houston Academy</span>, we offer a second home where learning continues. Our Mission is simple: <em>To empower students to recognize and optimize their full potential.</em></p>



          </div>

      </div>

</a></div>


<div class = 'container-fluid successful-quote' style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('https://lh3.googleusercontent.com/jgKAgbYK2YR6n3xYOCxBoMHDU1NKVtjHR4IsH2cdHT2YurXzCqqm1Z3jHA2w3NM-9IQTqFqWi9niB8Jy8dD4S4YIrIBaGvd-xvpMABaqixvgI6i7i9qAnauJ4rwJp4EQYdu1747j7I5M08KlXzpRnmIa6jZRgkwfpl4JLTS61PaHe2G7ynIau3vooqSTodFdUgh0IIdj64ZLsaWs0MCCgsVq1TE_dOLQYCLVW0tUwN2oC9Fo-s2KDfFxxztwtwqFQBWmurZHdeV09Y1OZO11seUJmenONXNyJ2duNJg2WouwjJHogJil80wWp7XODYqOhSH7U2jWOfuAZ1Vsmh3Rqw-8b4kv4o3agGbPRi2Qs3aHIK5RSbZRcBeWT0cY7mlmPaPNxvPaNcvu9Kq8f_SaFAb4Fun-pVnGBn9UuaN8P6MXHG9AJATykYL_8UmQwX2oH9CqpPZOiQB5rFb5kNMyuIsWR3h-1nZnfW5COu6EBHA0vqbo_uNwa-Dq-vBrPcYXBmbUOESA7n23NsbBU7Prniz4W0wFOdiyH8AcDkzy3NCKJtcH9F0ps1xR6SGLScbyKna6=w1500-h845-no'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">

    <blockquote>A SUCCESSFUL TEAM BEATS WITH <br><strong class='one-heart red-text'>One Heart</strong></br></blockquote>

</div>
