<div class='container footer'>
    <div class='row'>
      <div class="col-md-2">
            Contact Us:
      </div>
      <div class="col-md-6">832 359 3417</div>
      <div class="col-md-4"><a href="mailto:vienvonvan@gmail.com">Email Us</a></div>
    </div>

</div>
