<div class='container-fluid header' style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/headerBackground.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <div class='logo'>
                <img src='assets/logo.png' width='175px' height='225px'>
    </div>
    <div class='school-name'>
                <h1><span class='red-text'>Van Houston</span> Academy</h1>
    </div>
    <div class='vanhouston-quotes'>
         <h4>A Transforming After School Program. Inspired by <span class='ivy-league red-text'>Stanford</span> and <span class='ivy-league red-text'>Harvard</span></h4>
    </div>



    <div class='container limit-quote'>
        <h3 class='h2'>Don't Limit Your Dream. <em>Be The Future.</em></h3>
    </div>

    <div class='enroll-btn'>
            <a href='/students/new'><button class='btn btn-default btn-enroll'>Enroll Now</button></a>

    </div>

</div>
