<div class='staff-profiles' id='team'>

            <div class="row" id='team'>

                    <div class="col-sm-4 column-center">

                        <a href='#'><img src = '/images/vy~static.png' width='300px' height='450px' class='img-rounded'></a>


                        <h2 class='team-font'> Hoang Vy Van </h2>
                        <h3 class='team-font blue-text'> PRINCIPAL </h3>
                        <h4 class='team-font red-text'> Master of Education - <strong>Stanford University</strong></h4>


                    </div>

                    <div class="col-sm-4 column-center">


                        <a href='#'><img src = 'https://lh3.googleusercontent.com/jCdWnEkSVDBxMzzrDATKCRiG3gRLIQoRkI4qDopFJvdmyzZEdQ-ImVPhjF4yJSbF-ogUfJ5BD2BB29IWveXm6k_9aROQkZomqWfmIZ4HGrTaWnxS5pLVuCNRIzWEXm49-7eYB28CknhtMqRBytltft9NJG1Euyt8x77FclXKgGyqmXdKIHJguQ-1QIu2N-JJ4GR8pHYjtOzdd1BIVH4er5T_f0IgK41W6Ju3_WptfTWecGp01bXY6wwYd3rhpbJHYvASvoxeq-cLSw3ILklYUvyKMBIsW7lIavQ87z4SdUvKp8nfR_8USbIhDxECJRpsfUwgXoHW8wbGCRf4gb7WbT9-_f-ydUt0Hgc1jdY5pnwWE0XVNfY3EOrhCfTpqnw6NSwzEIuNpO63yyd6HYlZIC1PJNg7fkK0P7_mf2-vjOoBFHI5Wb53I96U-gPH_T9a_UCdzpE2MXJ4NBOf8X9uBX_NaCdjLe3ucgZ3LL4wPfRaZsfM-0tw9IePg5Q4JC_2i5JaW_qIf8Ok_cZ3epwMv11B4FRBlwtV9i6G6PEKSGU65qvLJ3G6rq0BRuNvwdD02s6v=w940-h1410-no' width='300px' height='450px' class='img-rounded' border='solid'></a>

                        <h2 class='team-font'> Huyen Vy Van</h2>
                        <h3 class='team-font blue-text'>DIRECTOR OF MANAGEMENT</h3>
                        <h4 class='team-font red-text'>Doctor of Pharmacy - <strong>TSU</strong></h4>



                </div>
                    <div class="col-sm-4 column-center">


                        <a href='#'><img src = '/assets/miHover.jpg' width='300px' height='450px' class='img-rounded'></a>

                        <h2 class='team-font'> Hong Vu Van</h2>
                        <h3 class='team-font blue-text'> BUSINESS DIRECTOR </h3>
                        <h4 class='team-font red-text'> MBA - <strong>Stanford University</strong></h4>



                    </div>
            </div>
</div>

    <div class = 'container-fluid' id='whyUs'>


                <h1 class='why-us'> So...       Why Us? </h1>
                <p class='why-body'><span class='simple'> It's simple:</span>
                    <br>Van Houston Academy provides the best enrichment programs for our children. With numerous engaging activities like math puzzles, mock crime scene investigations, and even conflict solving groups, we strive to not only build our student's academic records and inspire them to do great things with their future, but also to build their individuality and character, changing the world one student at a time. We will see you there!</p>
        <p class='why-body move-right' id='sincerely'>Sincerely,</p>
        <p class='why-body move-right'>Van Houston Academy.</p>


    </div>
